body {
	height: 100%;
	width : 100%;
	font-family: arial,sans-serif;
  overflow: auto;
  margin: 0;
  padding: 0;
  outline: 0;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwVG0h4W5ZOwgu7Wk_13RL7LktH027ZonXBSW22o70I9MCHdZMQQ) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
