.nava {
    position : absolute;
    top : 0;
    bottom : 535px;
    width: 100%;
    height : 80px;
    display: flex;
    align-items: center;
    justify-content : space-between;
    background-color : black;
}

