@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";


#contenu{
	float: right;
}

#titre{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0px;
	padding-top: -50px;
	height: 50px;
	background-color: #2980B9;
	border-radius: 20px 20px 0px 0px;
	font-family: 'Snell Roundhand', serif;
	font-style: italic;
}

tr{
	line-height: 3.5em;
	border-style: solid;
	border-width: 5px;
	border-color: black;	
}


