@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";

body{
	height: 100%;
	width: 100%;
	font-family: arial,sans-serif;
	overflow: auto;
	margin: 0;
	outline: 0;

}
#left {
float: left;
width: 50%;
padding-left: 25px;
margin-bottom: 100px;
margin-top: 130px;

}

#right {

float: right;
width: 50%;
padding-right: 30px;
margin-bottom: 100px;
margin-top: 130px;

}


#contenu{
	float: right;
}

#titre{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0px;
	padding-top: -50px;
	height: 50px;
	background-color: #2980B9;
	border-radius: 20px 20px 0px 0px;
	font-family: 'Snell Roundhand', serif;
	font-style: italic;
}

tr{
	line-height: 3.5em;
	border-style: solid;
	border-width: 5px;
	border-color: black;	
}



#dede{
	display: flex;
	justify-content: center;
}

#crud{
	text-decoration: none;
	margin: auto;
}

// ici les compenents bootstrap spécifiques
 @import url("email.scss");
 @import url("components/footer.scss");

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

// Navbar

.navbar {
  top: 0px;
  background-color: rgba(#e8e8e8, 0) !important;
  position: fixed;
  width: 100%;
  margin-bottom: 10px;
  z-index: 999;
  a {
    color: white !important ;
  }
}
body {
  background-image: linear-gradient(315deg, rgb(119, 78, 65) 25%, rgb(42, 84, 112) 74%);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  height: 100vh;

}

.alert {

}