// Place all the styles related to the Email controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-danger {
    background-color: rgba(#e81414, 0.5) !important;
}
.content {
  padding-top: 100px;
}
.contenu {
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: rgba(#e8e8e8, 0.2);
  color: white;
}
.liste {
  align-items: left;
  overflow: scroll;
  height: 430px;
}
.list-group-item{
  background-color: rgba(#e8e8e8, 0.2) !important;
  color: white !important;
  border: none !important;
}
.list-group-item:hover {
  background-color: rgba(#e8e8e8, 0.4) !important;
}
.list-group-item:active {
  background-color: #e4eaff !important;
}
.bouton {
  float: right;
  display: inline-block;
}
.read {
}
.ur {
  font-weight: bold;
}
ul li{
  list-style: none;
}