<div class="container contenu">
  <%= link_to " Delete", email_path(@email), class: "btn btn-sm btn-danger bouton far fa-trash-alt", remote: true,  method: :delete, data: { confirm: "Are you sure?" } %>

  <h3><%= @email.title %></h3>
  <hr>
  <p><%= @email.body %></p>
</div>