<!DOCTYPE html>

<html>
<body>

<h1 id="titleheader"> Thp - Mailbox </h1>

<section>
<table>
  <thead>
    <tr class="list-group-item">
      <th>Object :</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Received at :</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Read ?</th>
    </tr>
  </thead>

  <% @emails.each do |email| %>
      <tr class="list-group-item">
        <div id="bloc">
        <td><%= link_to email.title , email, remote: true %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= email.created_at.strftime("%Y-%m-%d at %H:%M")%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><% if email.read == true %> <span>lu </span>
          <% else %>  <p> non lu </p>
          <% end %>
        </td>
      </div>
      </tr>
    <% end %>

    </table>
  </section>

  <aside>

      <div id="email-body" style="display: none;"></div>

      <div class="col-9 ">
        <% email = [] %>
        <% if !email[0].nil? %>
        <%= render 'emails/content' %>
        <% end %>
        
      </div>
    </div>
  </aside>

<footer>
      <div id="bottom">
        <ul id="bloc_left">
          <li><a href = ""> À Propos </a> </li>
          <li><a href = ""> Nous soutenir </a> </li>
        </ul>
        <ul id="bloc_right">
          <li><a href = ""> FAQ </a> 
          <li><a href = ""> Paramètres </a> </li>
        </ul>
      </div>
</footer>

</body>
</html>